#header{
	height:80px;
	border-color:#9DDAD5;
	border-width: 1px;
	border-style: solid;
	background-color: #9DDAD5
}

#graph{
	height:580px;
}

#drop{

}

#myChart{
	width: 100%;
	height:100%;
}

#info{
	height: 280px;
}

#patInfo{
	height: 580px;
    width: 450px;
}

#disProb{
	height: 280px;
}

#photo{
	height: 180px;
	width: 150px;
}

#scrollBody{
	overflow-y: scroll;
	height: 500px;
  	width: 90%;
    position: absolute;
}

li{
	font-size:22px;
}

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

#submitButton{
  position: static;
  margin: middle;
}

#formstyle{
    position: static;
    padding-top: 100px;
    padding-left: 250px;
    margin: middle;
}

#arama{
    width: 650px;
}

#input {
    width: 35%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}