#stilop-genel {
     position:absolute;
     bottom:80px;
     right:10px;
}

#stilop-bot-ui {
    max-height: 400px;
}

#stilop-top-bar {
    background-color: #6c0d61;
    height: 55px;
}

#stilop-logo {
    margin-left: 40%;
    margin-top:4%;
}

#stilop-bot-app {
    z-index: 1000;
}

@media only screen and (max-width: 992px) {

  #stilop-dialog{
    display: none;
  }

}