.col-md-12 {
}

@media (max-width:500px) {
  #indiv {
    position:relative;
    min-width:335px;
    left:-310px;
  }
}

@media (max-width:500px) {
  #imahead {
    max-width:70px;
  }
}

.panel-group .panel {
  cursor:pointer;
}


.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

#navbar {
  background-color: #1aadaf;
}

#header-container {

}

.form-control{
}

#i-group{
  margin-top: 15px;
}

#ara {
  margin-top: 15px;
}

.navbar-header{
  margin-left: 10px;
  margin-top: 15px;
}

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-dim{
  max-width: 100%;
  height: auto;
  display: block;
}

.news-container {

}
.news-thumb {
    float: left
}
.news-thumb img {

}
.news-content {
  margin-left: 250px
}
.news-title {
    font-weight: bold;
    font-size: 200%
}

@media (min-width: 500px) {
  #lenia-logo {
    margin-top: 10px; 
  }
}

@media (max-width: 500px){

  #lenia-logo {
    margin-top: 4px;
  }

  #navbar {
  }

  #ara{
    margin-top: 2px
  }

  .logo{
    height: 42px;
    width: 42px;
  }

  #i-group {
    width: 40px;
    margin-top: 2px;
  }

  .navbar-header{
    margin-top: 4px;
  }

}
