#header{
	height:50px;
	border-color:black;
	border-width: 1px;
	border-style: solid;
}

#graph{
	height:280px;
	
}

#drop{

}

#myChart{
	width: 100%;
	height:100%;
}

#info{
	height: 280px;
}

#patInfo{
	height: 280px;
}

#disProb{
	height: 280px;
}

#photo{
	height: 180px;
	width: 150px;
}

#scrollBody{
	overflow-y: scroll;
	height: 200px;
  	width: 90%;
  	position: absolute;
}

li{
	font-size:22px;
}
