.container {
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 30px;
}

.p1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 1.58;
	font-size: 16px;
}

#head{
	font-family: "mySecondFont";
}

h1 {
  font-family: "mySecondFont"
}