{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="author" content="Lenia">
    <meta name="description" content="Lenia kişisel sağlık chatbotudur.">
    <meta name="keywords" content="Lenia,sağlık,chatbot,kişisel,yapay zeka">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Lenia Kişisel Sağlık Botunuz</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" href="{%  static 'images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/apple-touch-icon.png' %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static 'css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <script src="{%  static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/lity.css' %}">
    <script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
    <title>Dashboard</title>
</head>
<body>
<div class="container">


    <div class="container">

        <img  onclick="window.location.href='/'" class="logo" src="{%  static 'Avicenna-02.png' %}" alt="Smiley face" width="62" height="62">


    <br></br>

    <h4>Soru metni: {{ question_text }}</h4>
    <h4>Toplam oy sayısı: {{ toplam }}</h4>




    <canvas id="myChart" width="70" height="270"></canvas>
    <script>
var ctx = document.getElementById("myChart").getContext('2d');

var data = {
  labels: ["Erkek", "Kadın"],
  datasets: [{
    label: "Hiç",
    backgroundColor: "blue",
    data: [{{ hic_erkek }}, {{ hic_kadin }}]
  }, {
    label: "Biraz",
    backgroundColor: "red",
    data: [{{ emin_erkek }}, {{ emin_kadin }}]
  }, {
    label: "Çok",
    backgroundColor: "green",
    data: [{{ basariliyim_erkek }}, {{ basariliyim_kadin }}]
  }]
};

var myBarChart = new Chart(ctx, {
  type: 'bar',

  data: data,
  options: {
      maintainAspectRatio: false,
    barValueSpacing: 20,
    scales: {
      yAxes: [{
        ticks: {
          min: 0,
        }
      }]
    }
  }
});
ctx.height = 270;
setTimeout(function(){
   window.location.reload(1);
}, 6000);
</script>



</div>
    </div>
</div>

</body>
</html>