{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İbniSina </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://connect.facebook.com/en_US/messenger.Extensions.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


    <style>
        body{
            background-color: pink;
        }

    </style>
</head>
<body>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
<div class="container">
<div class="row">
    Tarih seç: <input type='text' id="datepicker" class='datepicker-here' data-language='en' />

    <div id="d"></div>
    <br></br>
Saat seç<input type='text' id="timepicker" class='datepicker-here' data-language='en' />
</div>
</div>
<script>
  window.extAsyncInit = function() {
  };

// the Messenger Extensions JS SDK is done loading
    MessengerExtensions.getUserID(function success(uids) {
        // User ID was successfully obtained.
        var psid = uids.psid;

        console.log("psid", psid)
            //$('.error').html(psid)

    }, function error(err, errorMessage) {
        // Error handling code
        console.log(err, errorMessage)
      //  $('.error').html(errorMessage)
    });

   $(document).ready(function(){
       $( "#datepicker" ).datepicker({

               inline: true,
               altField: '#d'
           }
       );
       $('#d').change(function(){
    $('#datepicker').datepicker('setDate', $(this).val());
});

    $('#timepicker').timepicker({});
});

</script>


</body>
</html>