{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#" style="color:rgb(0,21,58);"><strong>Avicenna</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li role="presentation">
                        <a href="#"> </a>
                    </li>
                    <li role="presentation">
                        <a href="#"> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="hastalik" style="padding:20px;">
        <div class="jumbotron" style="background-color:rgba(247,246,246,0);">
            <h1>Sonuçlar </h1></div>
    </div>
    <div id="hastalik" style="padding:20px;">
        <div class="jumbotron">
            <h1>{{first.page_title}} </h1>
            <p>{{ first.page_content }} </p>
        </div>
    </div>
    <div id="hastalik" style="padding:20px;">
        <div class="jumbotron">
            <h1>{{second.page_title}} </h1>
            <p>{{ second.page_content }} </p>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>