{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta name="yandex-verification" content="d4a03af5fa4ae0a6" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130777613-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130777613-1');
</script>


    <meta charset="utf-8">
    <meta name="author" content="Lenia">
    <meta name="description" content="Lenia kişisel sağlık chatbotudur.">
    <meta name="keywords" content="Lenia,sağlık,chatbot,kişisel,yapay zeka">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Lenia Kişisel Sağlık Botunuz</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" href="{%  static 'images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/apple-touch-icon.png' %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%  static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%  static 'css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{%  static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <script src="{%  static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/lity.css' %}">

    <script src="{%  static 'js/lity.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="21xtUMzU3ipF1kss7jxQJffxkqkyqCx5NWYO0yjDZ44" />

</head>

<body style="" data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">

                </button>

                <a href="#" class="navbar-brand logo">
                    <div class="item row">


                    <h2 style="margin-left: 10px;"><img src="{% static 'images/avicena.png' %}" alt="" style="height:60px; width: 60px; margin-top: -10px"> Lenia</h2>
                    </div>
                </a>
            </div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home-page">Lenia</a></li>
                    <li><a href="#feature-page">Galeri</a></li>

                    <li><a href="#contact-page">İletişim</a></li>
                    <li><a href="/loadWikiPage?page_no=1">Wiki</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row">
                       <div  class="hidden-xs hidden-sm col-md-5 text-right">
                    <div  class="screen-box screen-slider">
                        <div class="item">
                            <img src="{% static 'images/chat.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'images/result.png' %}" alt="">
                        </div>
                        <div class="item">
                            <img src="{% static 'images/menu.png' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Yeni Nesil Kişisel Sağlık Danışmanı</h2>
                    <p>
                        Lenia kullancıların şikayetlerinden yola çıkarak, tıp profesyonelleri tarafından hazırlanan sorular yardımıyla kullanıcıya potansiyel hastalıkları konusunda güvenilir bilgi vermeyi amaçlayan bir chatbottur. Doğal dil işleme algoritmaları kullanarak, hastalıklar ve ilaçlar hakkında bilgi verir.
                    </p>

                    <button class="btn btn-primary " style="margin-right:10px;"href="//vimeo.com/296508968" data-lity>Videoyu izle</button>


        <a href="https://itunes.apple.com/tr/app/avicena-sa%C4%9Fl%C4%B1k-chatbotu/id1355651335?mt=8" class="btn btn-app-store"><i class="fa fa-apple"></i> <span class="small">Available on</span> <span class="big">App Store</span></a>


                    <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
$.get("https://ipinfo.io", function(response) {
    if (response.country != "Turkey")
    {
            //window.location.href = "https://www.avicena.ist/en"
    }
}, "jsonp");

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/tr_TR/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>

<!-- Your customer chat code -->
<div align="left" class="fb-customerchat"
  attribution=setup_tool
  page_id="1712977512332252"
  theme_color="#0084ff"
  logged_in_greeting="Sağlığınızla ilgili şikayetler için Lenia robot doktoruna yazın."
  logged_out_greeting="Sağlığınızla ilgili şikayetler için Lenia robot doktoruna yazın.">
</div>

                </div>


            </div>
        </div>
    </header>
    <!--Header-area/-->



    <!--Feature-area-->

    <!--Feature-area/-->

    <section class="angle-bg sky-bg section-padding" id="feature-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="caption_slide" class="carousel slide caption-slider" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Anlık Mesajlaşma</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Günün her saatinde, sizi rahatsız eden şikayetlerinizle ilgili anlık ve anonim olarak konuşun.</p>
                                        </div>

                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{% static 'images/login.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                            <img alt="Lenia chatbot" src="{% static 'images/chat.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item row">
                                <div class="v-center">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="caption-title" data-animation="animated fadeInUp">
                                            <h2>Güvenilir Bilgi</h2>
                                        </div>
                                        <div class="caption-desc" data-animation="animated fadeInUp">
                                            <p>Doktorlar tarafından oluşturulan sorularla birlikte tahmini hastalık sonuçları edinin. Hastalıklarla ilgili bilgi almak için wiki sayfasını ziyaret edin.</p>
                                        </div>
                                        <div class="caption-button" data-animation="animated fadeInUp">

                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo one" data-animation="animated fadeInRight">
                                            <img src="{%  static 'images/result.png' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <div class="caption-photo two" data-animation="animated fadeInRight">
                                            <img src="{% static 'images/web.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators caption-indector">
                            <li data-target="#caption_slide" data-slide-to="0" class="active">
                                <strong>Anlık Mesajlaşma </strong>
                            </li>
                            <li data-target="#caption_slide" data-slide-to="1">
                                <strong>Güvenilir Bilgi </strong>
                            </li>


                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>














    <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <div>
                            <h2>TAKİPTE KALIN</h2>
                            <br>
                            <p>Uygulamamız hakkındaki yeni gelişmelerden haberiniz olsun!</p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <address class="side-icon-boxes">

                            <div class="side-icon-box">
                                <div class="side-icon">
                                    <img src="{%  static 'images/mail-arrow.png' %}" alt="">
                                </div>
                                <p><strong>E-mail: </strong>
                                    <a href="mailto:youremail@example.com">leniahealth@gmail.com</a> <br />

                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <form action="process.php" id="contact-form" method="post" class="contact-form">
                            <div class="form-double">
                                <input type="text" id="form-name" name="form-name" placeholder="Adınız" class="form-control" required="required">
                                <input type="email" id="form-email" name="form-email" class="form-control" placeholder="Mail adresiniz" required="required">
                            </div>
                            <input type="text" id="form-subject" name="form-subject" class="form-control" placeholder="Mesaj Konusu">
                            <textarea name="message" id="form-message" name="form-message" rows="5" class="form-control" placeholder="Mesajınız" required="required"></textarea>
                            <button type="sibmit" class="button">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <ul class="social-menu text-right x-left">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-google"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li><a href="#"><i class="ti-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <!--Vendor-JS-->
    <script src="{%  static 'js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugin-JS-->
    <script src="{%  static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'js/contact-form.js' %}"></script>
    <script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'js/scrollUp.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!--Main-active-JS-->
    <script src="{%  static 'js/main.js' %}"></script>
</body>

</html>
