{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130777613-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130777613-1');
</script>

    <script type="text/javascript" data-params="jsads">
m3ads_system = "Advancenative";
m3ads_partnernumber = 987176;
m3ads_numberadverts = 1;
m3ads_mediapresentation = "0";
m3ads_mediatype = "2";
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130777613-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130777613-1');
</script>

  <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Lenia|{{ first.question_set_name }}</title>
  <meta charset="utf-8">
  <meta name="author" content="Lenia">
  <meta name="description" content="Lenia kişisel sağlık chatbotudur.">
  <meta name="keywords" content="Lenia,sağlık,chatbot,kişisel,yapay zeka, {{ first.question_set_name }}, doğal tavsiye">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "css/styles.css" %} " rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>




  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
  </script>
  <script src="js/scripts.js">
  </script>

  <nav class="navbar navbar-light bg-faded" id="navbar">
    <div class="container">
      <div class="row">
        <img  onclick="window.location.href='/'" class="logo" src="{%  static 'Avicenna-02.png' %}" alt="Smiley face" width="62" height="62">
        <div class="navbar-header">
          <h2 class="" style="color: #ffffff" onclick="window.location.href='/'">Avicena</h2>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input id="i-group" class="form-control" type="text"/>
            <div class="input-group-btn">
              <button id="ara" class="btn btn-info" type="button">Ara</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

       {% for extra_link in extremes %}
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false" href="{{   extra_link.page_link }}">{{  extra_link.page_title }}</a>
               {% endfor %}
      </div>
  </div>
</nav>

  -->

  <nav>
  <ol class="breadcrumb">

  {% for extra_link in extremes %}
      <li class="breadcrumb-item"><a href="{{   extra_link.page_link }}"> {{  extra_link.page_title }} </a></li>
  {% endfor %}
  </ol>
  </nav>

  

<div class="tab-content" id="nav-tabContent">

</div>

  <div class="container" class="header-container">
    <div class="col-md-12 pull-right">
      <div class="page-header">
        </br>

        <h1> {{ first.question_set_name }} </h1>
      </div>

      <br>
      <div id="summary" class="row" >
        <div class="col-md-12 pull-right">
        <div class="span4 collapse-group">
          <h5 >Neler yapabilirisiniz</h5>
          <p id="summaryText"> {{ first.question_set_whateatdrink | linebreaks }} </p>
        </div>
      </div>
    </div>
    <hr>

              <div class="ExampleAdverts">
<script type="text/javascript" data-params="jsads">
m3ads_system = "Advancenative";
m3ads_partnernumber = 778808;
m3ads_zone = "Zone3x1(3Ads)";
m3ads_cssurl = "https://eotech-yoqblou5gqrdrn.netdna-ssl.com/Zone3x1.css";
m3ads_includeimages = 1;
m3ads_mediapresentation = "0";
m3ads_mediatype = "1,2";
</script>
<script type="text/javascript" src="//cdn.feed.eotech.co/resources/scripts/jsAds-1.4.min.js"></script>
        </div>

    <div id="symptom" class="row">
      <div class="col-md-12 pull-right">
      <div class="span4 collapse-group">
        <h5><a data-toggle="collapse"  data-target="#viewdetails1">Ne yapılmamalı &raquo;</a></h5>
        <p id="symptomText" class="collapse" id="viewdetails1"> {{ first.question_set_whatdont | linebreaks }}</p>
      </div>
    </div>
    </div>
    <hr>





<hr>


    </div>

  </div>


<script>

     var url = document.location.toString();
if ( url.match('#') ) {
    $('#'+url.split('#')[1]).show();
}

 $("#summary").click(function(){
   $(".collapse").hide();
   $("#summaryText").show();

 });

 $("#symptom").click(function(){
   $(".collapse").hide();
   $("#symptomText").show();

 });

 $("#diagnosis").click(function(){
   $(".collapse").hide();
   $("#diagnosisText").show();

 });

  $("#teshis").click(function(){
   $(".collapse").hide();
   $("#teshisText").show();

 });

var elem = $('#treatment');
 $("#treatment").click(function(){
   $(".collapse").hide();
   $("#treatmentText").show();
   $('html').scrollTop(elem.offset().top);

 });
</script>



</body>

</html>
