﻿{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ first.question_set_name }} doğal tavsiye">
  <meta name="keywords" content="Lenia,sağlık,chatbot,kişisel,yapay zeka, {{ first.question_set_name }}, doğal tavsiye">
  <meta name="google-site-verification" content="21xtUMzU3ipF1kss7jxQJffxkqkyqCx5NWYO0yjDZ44" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130777613-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-130777613-1');
  </script>
  <title>Lenia |{{ first.question_set_name }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static "new.css" %}">

<style>  
@font-face {
   font-family: paragraphFont;
   src: url(NotoSerifTC-Regular.otf);
}

@font-face {
	font-family: headerFont;
	src: url("NotoSansTC-Regular.otf");
}

</style>

</head>

<body>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="mt-4" style="font-family: headerFont;font-weight: bold;">| {{ first.question_set_name }}</h2>

            <div class="tedavi">
                <h3 class="mt-3" style="font-family: headerFont; font-weight: bold;"> Lenia'dan Doğal Tavsiye</h3>
                <p class="p1" style="font-family: paragraphFont"> {{ first.question_set_whateatdrink | linebreaks }}</p>
            </div>


            {% for advice in advices %}
                <div class="tedavi">
                    <h4 class="mt-3" style="font-family: headerFont; font-weight: bold;"> {{ advice.newadvice_title }}</h4>
                    <p class="p1" style="font-family: paragraphFont"> {{ advice.newadvice_content | linebreaks }}</p>
                </div>
            {% endfor %}
                

        </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "vendor/jquery/jquery.slim.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
