{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Acıbadem Randevu al</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-table-expandable.css' %}">
    <script src="{% static 'js/bootstrap-table-expandable.js' %}"></script>
    <link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/datepicker.min.js' %}"></script>
    <script src="{% static 'js/hideShow.js' %}"></script>
    <!-- Include English language -->
    <script src="{% static 'js/i18n/datepicker.en.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/hideStyle.css' %}">

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<script>
     window.fbAsyncInit = function() {
    FB.init({
      appId            : '1359962034121784',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.0'
    });
  };

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<script>
window.extAsyncInit = function() {
    // the Messenger Extensions JS SDK is done loading
alert("done")
   MessengerExtensions.getUserID(function success(uids) {
    var psid = uids.psid;//This is your page scoped sender_id
    alert(psid);
}, function error(err) {
    alert("Messenger Extension Error: " + err);
});
};
</script>

<div id="begin">

    <h2 class="text-center"> Randevu yenilik</h2>
    <div class="container">
        <div class="col-12">

            <br> </br>

            <select id="hastane" class="form-control">
                <option value="base">Hastane Seçin</option>
                <option value="Adana">Adana Hastanesi</option>
                <option value="Altunizade">Altunizade Hastanesi</option>
                <option value="Ankara">Ankara Hastanesi</option>
                <option value="Atakent">Atakent Hastanesi</option>
                <option value="Bakırköy">Bakırköy Hastanesi</option>
                <option value="Eskişehir">Eskişehir Hastanesi</option>
                <option value="Fulya">Fulya Hastanesi</option>
            </select>

            <br> </br>

            <select id="servis" class="form-control">
                <option value="sec">Servis Seçin</option>
            </select>

            <br> </br>
        </div>
    </div>
</div>


<div class="level" id="takvim">

    <h2 class="text-center" id="title"> Tarih Seçin </h2>
    <br> </br>

    <div id="calendar">
        <div id="datepicker-my" class="datepicker-here" data-language='en'></div>
        <div id="selectedDate" class="level"> </div>
    </div>

</div>

<br>

<div class="level" id="doctors">
    <h2 class="text-center"> Doktorunuzu Seçin </h2>
    <br>
    <div class="container">
        <div id="doc1"  class="row" onclick="onClickToDoctor('1')">
            <div class="col-xs-3">
                <img src="{%  static 'doc.jpg' %}" />
            </div>

            <div class="col-xs-8">
                <p > <b> Dr. Salih Güven </b> </p>
                <p> 12 Yıl - Çocuk Sağlığı ve Hastalıkları </p>
            </div>
        </div>
        <div class="col-12">
        <div id="demo1" class="level">
            <p> Lütfen bir saat seçin </p>
            <select id="select1" class="form-control">
                <option value="08.00">08.00</option>
                <option value="09.00">09.00</option>
                <option value="10.00">10.00</option>
                <option value="11.00">11.00</option>
                <option value="12.00">12.00</option>
                <option value="13.00">13.00</option>
                <option value="14.00">14.00</option>
                <option value="15.00">15.00</option>
                <option value="16.00">16.00</option>
                <option value="17.00">17.00</option>
            </select>
        </div>
        </div>

        <br>
        <div id="doc2" data-target="#demo2" onclick="onClickToDoctor('2')" class="row">
            <div class="col-xs-3">
                <img src="{% static 'doc2.jpg' %}" />
            </div>

            <div class="col-xs-8">
                <p > <b> Doç Dr. Güneş Şen </b> </p>
                <p> 16 Yıl - Dermatoloji </p>
            </div>
        </div>
        <div class="col-12">
        <div id="demo2" class="level">
            <p> Lütfen bir saat seçin </p>
            <select id="select2" class="form-control">
                <option value="08.00">08.00</option>
                <option value="09.00">09.00</option>
                <option value="10.00">10.00</option>
                <option value="11.00">11.00</option>
                <option value="12.00">12.00</option>
                <option value="13.00">13.00</option>
                <option value="14.00">14.00</option>
                <option value="15.00">15.00</option>
                <option value="16.00">16.00</option>
                <option value="17.00">17.00</option>
            </select>
        </div>
        </div>
        <br>


        <div id="doc3"  data-target="#demo3" onclick="onClickToDoctor('3')" class="row">
            <div class="col-xs-3">
                <img src="{% static 'doc.jpg' %}" />
            </div>

            <div class="col-xs-8">
                <p > <b> Prof. Dr. Caner Mutlu </b> </p>
                <p> 20 Yıl - Genel Cerrahi</p>
            </div>
        </div>
        <div class="col-12">
        <div id="demo3" class="level">
            <p> Lütfen bir saat seçin </p>
            <select id="select3" class="form-control">
                <option value="08.00">08.00</option>
                <option value="09.00">09.00</option>
                <option value="10.00">10.00</option>
                <option value="11.00">11.00</option>
                <option value="12.00">12.00</option>
                <option value="13.00">13.00</option>
                <option value="14.00">14.00</option>
                <option value="15.00">15.00</option>
                <option value="16.00">16.00</option>
                <option value="17.00">17.00</option>
            </select>
        </div>
        </div>
        <br>
        <div id="doc4" onclick="onClickToDoctor('4')" class="row">
            <div class="col-xs-3">
                <img src="{% static 'doc2.jpg' %}" />
            </div>

            <div class="col-xs-8">
                <p > <b> Dr. Derya Er </b> </p>
                <p> 6 Yıl - Göz Hastalıkları</p>
            </div>
        </div>

        <div class="col-12">
        <div id="demo4" class="level">
            <p> Lütfen bir saat seçin </p>
            <select id="select4" class="form-control">
                <option value="08.00">08.00</option>
                <option value="09.00">09.00</option>
                <option value="10.00">10.00</option>
                <option value="11.00">11.00</option>
                <option value="12.00">12.00</option>
                <option value="13.00">13.00</option>
                <option value="14.00">14.00</option>
                <option value="15.00">15.00</option>
                <option value="16.00">16.00</option>
                <option value="17.00">17.00</option>
            </select>
        </div>
        </div>
    </div>
</div>

<div class="level" id="form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <div lass="form-group">
                        <input id="name" class="form-control form-control-sm" type="text" placeholder="Adınız Soyadınız">
                    </div>
                    <div class="form-group">
                        <input name="optradio" type="radio" value="Kadın"> Kadın
                        <input name="optradio" type="radio" value="Erkek"> Erkek
                    </div>
                    <div class="form-group">
                        <input id="tc" class="form-control form-control-sm" type="text" placeholder="TC Kimlik Numarası">
                    </div>
                    <div class="form-group">
                        <input id="cep" class="form-control form-control-sm" type="text" placeholder="Cep (05XXXXXXXXX)">
                    </div>
                    <div class="form-group">
                        <input id="posta" class="form-control form-control-sm" type="text" placeholder="E-Postanız">
                    </div>
                    <div class="form-group">
                        <input id="dogum" class="form-control form-control-sm" type="text" placeholder="Doğum Tarihiniz gg/aa/yyyy">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<br></br>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="pull-left">
                <div id="geri" class="level">
                    <button id="button2" class="btn"> Geri </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button id="button" class="btn"> İleri </button>
            </div>
        </div>
    </div>
</div>

<script>
 $("#datepicker-my").datepicker({
    language:'en',
    minDate:new Date(),
    onSelect: function (fd, d, picker) {
        var myDiv = document.getElementById("selectedDate")
        myDiv.innerHTML = d
    }
 })
     window.extAsyncInit = function() {
    // the Messenger Extensions JS SDK is done loading
      alert("hello");
        MessengerExtensions.getUserID(function success(uids) {
    var psid = uids.psid;//This is your page scoped sender_id
    alert(psid);

}, function error(err) {
    alert("Messenger Extension Error: " + err);
});
};
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>