{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        #square {
    position: absolute;
    top:2%;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    margin-top:50px;
    width:80%;
    height:100%;
    z-index:10;
}
    </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Cümleden semptom ve organ çıkartıcı</h1>
<p></p>

<section id="square">
<img  style="width:225px;height:240px;margin-left:10%" src="{% static 'avicenna.png' %}" />
<br></br>
<input id="sentence" style="width:600px" type="text">
    <button onclick="extract()">Çıkart</button>

</section>
<div id="result">

            </div>
<script>
    function  extract() {

        var myValue = $("#sentence").val();
        console.log('{"sentence":"'+ myValue + '"}')

       $.ajax({
    type: 'POST',
    url: '/symptom/',
    data: '{"sentence":"'+ myValue + '"}',
    success: [
        function(response)
    {
        alert(JSON.stringify(response));
        $("#result").val((JSON.stringify(response)));
    }
    ],
    contentType: "application/json",
    dataType: 'json'
});



    }

</script>

</body>

</html>