{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/stilop.css' %}" />
    <link rel="stylesheet" href="{% static 'css/botui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/botui-theme-default.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>
<body>

      <div id="genel">

            <div class="botui-app-container" style="max-height: 0px;" id="my-botui-app" >
                          <div id="topBar" onClick= "showWindow()"><img id="logo" width = "190" height= "50" src="{% static 'images/stilop.png' %}"></div>
              <bot-ui id="ui">
              </bot-ui>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/vue/2.0.5/vue.min.js"></script>
    <script src="{% static 'js/botui.min.js' %}"></script>

<script src="{% static 'js/stilop.js' %}">
</script>

</body>
</html>