{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>{{ user.first_name }} Profili</title>
      <!-- Bootstrap -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static mystyle.css %}" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="col-12" id="header">
         <div class="container">
            <div class="row">
               <div class="col-sm-8">
                  <h1 style="color:white;">Avicenna Doktor Paneli </h1>
               </div>
               <div class="col-sm-4">
                  <br>
                  <form id="custom-search-form" action="/loadUserPage" method="GET" class="form-search form-horizontal pull-right">
                     <div class="input-append span12">
                        <input name="user" type="text" class="search-query" placeholder="Arama">
                        <button type="submit" class="btn"><i class="icon-search"></i></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <br>
            <div class="col-md-6" id="info">
               <div class='row'>
                  <h3> Kişisel Bilgiler</h3>
                  <br><br>
                  <div class="col-6 col-md-4" id="photo">
                     <img src="http://fivebooks.com//app/uploads/2017/04/d-h-lawrence-150x180.jpg" style="margin-left:-16px"/>
                  </div>
                  <div class="col-md-6">
                     <table class="table table-user-information">
                        <tbody>
                           <tr>
                              <td><b>Ad:</b></td>
                              <td>{{  user.first_name}}</td>
                           </tr>
                           <tr>
                              <td><b>Soyad:</b></td>
                              <td>{{ user.last_name }}</td>
                           </tr>
                           <tr>
                              <td><b>Doğum Tarihi:</b></td>
                              <td>{{ user.age }}</td>
                           </tr>

                           <tr>
                              <td><b>Kronik Hatalıklar:</b></td>
                              <td>KK</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-md-6" id="patInfo">
               <div class="table-responsive">
                  <h3> Geçmiş </h3>
                  <br>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Tarih</th>
                           <th>Şikayet / İlaç Kullanımı</th>
                        </tr>
                     </thead>
                     <tbody id="scrollBody">
                     {%  for complaint in complaints %}
                        <tr>
                           <td>{{ complaint.complaint_type.question_set_full_name }}</td>
                           <td>{{ complaint.complaints_time }} - Devam ediyor</td>
                        </tr>
                     {% endfor %}

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="row">
             <div class="col-md-6" id="patInfo">
               <div class="table-responsive">
                  <h3> Verebilecek ilaçlar </h3>
                  <br>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Durumuna uygun  verilen ilaçlar</th>
                           <th>Alerji listesi</th>
                        </tr>
                     </thead>
                     <tbody id="scrollBody">
                     <tr>

                         <td>Parol</td>
                         <td>A</td>
                     </tr>

                     </tbody>
                  </table>
               </div>
            </div>
         <div class="col-md-6" id="patInfo">
               <div class="table-responsive">
                  <h3> Hastalık ihtimalleri </h3>
                  <br>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Tarih</th>
                           <th>Şikayet / İlaç Kullanımı</th>
                        </tr>
                     </thead>
                     <tbody id="scrollBody">
                     <tr>
                         <td>%65</td>
                         <td>Sağlıklı</td>

                     </tr>
                        <tr>
                         <td>%25</td>
                         <td>Soğuk algınlığı</td>

                     </tr>
                       <tr>
                         <td>%10</td>
                         <td>Sinüzit</td>

                     </tr>


                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <br></br>
         <br></br>
         <div class="row">
            <div class="col-12" id="graph">
               <h3>Grafikler</h3>
               <canvas id="myChart" width="500"></canvas>
               <select class="dropdown pull-right" id="drop" >
                  <option>Tansiyon</option>
                  <option>Şeker</option>
               </select>
            </div>
         </div>
         <br></br>
      </div>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/charts/lineChart.js' %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
</html>