{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130777613-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130777613-1');
</script>


  <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
  <link href="{% static "bootstrap.min.css" %}"  rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Lenia|{{ first.page_title }}</title>
  <meta content="The HTML5 Herald" name="description">
  <meta content="SitePoint" name="author">
  <link href="{% static "css/styles.css" %} " rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>


  <script src="{% static "bootstrap.min.js" %}" >
  </script>
  <script src="js/scripts.js">
  </script>

  <nav class="navbar navbar-light bg-faded" id="navbar">
    <div class="container">
      <div class="row">
        <img id="lenia-logo" style="height: 40px;" src="{% static "1.png" %} ">
        <div class="navbar-header">
          <h2 class="" style="color: #ffffff" onclick="window.location.href='/'">Lenia</h2>
        </div>
      </div>
    </div>
  </nav>

  <!--
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

       {% for extra_link in extremes %}
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false" href="{{   extra_link.page_link }}">{{  extra_link.page_title }}</a>
               {% endfor %}
      </div>
  </div>
</nav>

  -->

  <nav>
  <ol class="breadcrumb">

  {% for extra_link in extremes %}
      <li class="breadcrumb-item"><a href="{{   extra_link.page_link }}"> {{  extra_link.page_title }} </a></li>
  {% endfor %}
  </ol>
  </nav>

  

<div class="tab-content" id="nav-tabContent">

</div>

  <div class="container" class="header-container">
    <div class="col-md-12 pull-right">
      <div class="page-header">
        </br>

        <h1> {{ first.page_title }} </h1>
      </div>

      <br>
      <div id="summary" class="row" >
        <div class="col-md-12 pull-right">
        <div class="span4 collapse-group">
          <h5 >Özet</h5>
          <p id="summaryText"> {{ first.page_content|safe }} </p>
        </div>
      </div>
    </div>
    <hr>

    <div id="symptom" class="row">
      <div class="col-md-12 pull-right">
      <div class="span4 collapse-group">
        <h5><a data-toggle="collapse"  data-target="#viewdetails1">Semptomlar &raquo;</a></h5>
        <p id="symptomText" class="collapse" id="viewdetails1"> {{ first.page_symtpoms| linebreaks }}</p>
      </div>
    </div>
    </div>
    <hr>

           <div id="teshis" class="row">
      <div class="col-md-12 pull-right">
      <div class="span4 collapse-group">
        <h5><a data-toggle="collapse"  data-target="#viewdetails2">Teşhisi&raquo;</a></h5>
        <p id="teshisText" class="collapse" id="viewdetails2">{{ first.page_diagnosis| linebreaks }}</p>
      </div>
    </div>
    </div>
    <hr>


    <div id="diagnosis" class="row">
      <div class="col-md-12 pull-right">
      <div class="span4 collapse-group">
        <h5><a data-toggle="collapse" data-target="#viewdetails3">Doktora ne zaman gidilmeli &raquo;</a></h5>
        <p class="collapse" id="diagnosisText"> {{ first.page_whentogodoctor | linebreaks }} </p>
      </div>
    </div>
  </div>
  <hr>

  <div id="treatment" class="row">
    <div class="col-md-12 pull-right">
    <div class="span4 collapse-group">
      <h5><a data-toggle="collapse" data-target="#viewdetails4">Tedavi &raquo;</a></h5>
      <p class="collapse" id="treatmentText">{{ first.page_prevention | linebreaks }}</p>
    </div>
  </div>
</div>
<hr>


    </div>
   


<script>

     var url = document.location.toString();
if ( url.match('#') ) {
    $('#'+url.split('#')[1]).show();
}

 $("#summary").click(function(){
   $(".collapse").hide();
   $("#summaryText").show();

 });

 $("#symptom").click(function(){
   $(".collapse").hide();
   $("#symptomText").show();

 });

 $("#diagnosis").click(function(){
   $(".collapse").hide();
   $("#diagnosisText").show();

 });

  $("#teshis").click(function(){
   $(".collapse").hide();
   $("#teshisText").show();

 });

var elem = $('#treatment');
 $("#treatment").click(function(){
   $(".collapse").hide();
   $("#treatmentText").show();
   $('html').scrollTop(elem.offset().top);

 });
</script>


</body>

</html>
